/* side navbar */
.side-navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    height:100%;
    width: 250px;
}

/* light theme */
.navbar-link-div, .navbar-link-dark-div{
    margin: 0px 0px 4px 0px;
    padding: 4px 0px 4px 18px;
}

.navbar-link-div:hover{
    color: #ffa8a8;
}

.navbar-link-dark-div:hover{
    color: #ffcece;
}

.navbar-link-div-active{
    margin: 0px 0px 6px 0px;
    padding: 4px 0px 4px 16px;
    border-left: 4px solid #ffa8a8;
}

.navbar-link-div:last-child{
    margin: 0px;
    padding: 4px 0px 4px 18px;
}

.navbar-link-div-active:last-child{
    margin: 0px;
    padding: 4px 0px 4px 16px;
}

.navbar-link{
    color: #424549;
    text-decoration: none;
}

.navbar-link-active{
    color: #ffa8a8;
    text-decoration: none;
}

/* dark theme */
.navbar-link-dark-div-active{
    margin: 0px 0px 6px 0px;
    padding: 4px 0px 4px 16px;
    border-left: 4px solid #ffcece;
}

.navbar-link-dark-div:last-child{
    margin: 0px;
    padding: 4px 0px 4px 18px;
}

.navbar-link-dark-div-active:last-child{
    margin: 0px;
    padding: 4px 0px 4px 16px;
}

.navbar-link-dark{
    color: #bebebe;
    text-decoration: none;
}

.navbar-link-dark-active{
    color: #ffcece;
    text-decoration: none;
}

.navbar-link:hover, .navbar-link-dark:hover, .navbar-link-active:hover, .navbar-link-dark-active:hover, .navbar-link-div:hover, .navbar-link-dark-div:hover, .navbar-link-div-active:hover, .navbar-link-dark-div-active:hover{
    cursor: none;
}

/* top navbar */
.top-navbar{
    display: flex;
    align-items: center;
    width: 80%;
    height: 84px;
    margin: 0px 0px 0px 250px;
    z-index: 1;
}

/* light theme */
.login-btn{
    padding: 4px 16px;
    font-size: 15px;
    border: none;
    background-color: transparent;
    color: black;
    transition: 0.3s;
}

.login-btn:hover{
    color: #424549;
    cursor: none;
}

.signup-btn{
    padding: 4px 16px;
    border-radius: 8px;
    font-size: 15px;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    transition: 0.3s;
}

.signup-btn:hover{
    border: 1px solid #424549;
    color: #424549;
    cursor: none;
}

/* dark theme */
.login-btn-dark{
    padding: 4px 16px;
    font-size: 15px;
    border: none;
    background-color: transparent;
    color: white;
    transition: 0.3s;
}

.login-btn-dark:hover{
    color: #bebebe;
    cursor: none;
}

.signup-btn-dark{
    padding: 4px 16px;
    border-radius: 8px;
    font-size: 15px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    transition: 0.3s;
}

.signup-btn-dark:hover{
    border: 1px solid #bebebe;
    color: #bebebe;
    cursor: none;
}

.theme-change-button-light, .theme-change-button-dark{
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}

.theme-change-button-light:hover, .theme-change-button-dark:hover{
    background-color: rgba(128, 128, 128, 0.300);
    cursor: none;
}

/* content */
.content{
    width: 80%;
    margin-left: 250px;
}

/* notes page */
/* back button */
.back-btn, .back-btn-dark{
    padding: 4px 12px;
    border-radius: 8px;
    font-size: 14px;
}

.back-btn:hover, .back-btn-dark:hover{
    cursor: none;
}

.back-btn{
    border: 1px solid #bebebe;
    background-color: white;    
    color: #424549;
}

.back-btn-dark{
    border: 1px solid #424549;
    background-color: #212529;    
    color: #bebebe;
}

/* add note form */
.add-note-form{
    display: flex;
    justify-content: center;
    margin: 24px 0px;
}

.form-control:focus{
    border-color: #ffcece;
    box-shadow: 0px 2px 5px rgba(255, 206, 206, 0.565);
}

.submit-button{
    padding: 4px 20px;
    border-radius: 24px;
    font-size: 15px;
    border: 1px solid #ffcece;
    background-color: #ffcece;
    color: black;
    transition: 0.3s;
}

.submit-button:hover{
    border: 1px solid #ffa8a8;
    background-color: #ffa8a8;
    cursor: none;
}

/* show notes */
.notes-collection{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 24px;
    margin: 40px 0px;
}

.add-note-button{
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 32px;
    right: 490px;
    z-index: 1;
    padding: 6px 20px;
    font-size: 16px;
    border: 1px solid #ffcece;
    background-color: #ffcece;
    border-radius: 24px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.add-note-button:hover{
    border: 1px solid #ffa8a8;
    background-color: #ffa8a8;
    cursor: none;
}

/* up arrow */
.up-arrow{
    opacity: 0;
    transition: opacity 0.2s ease;
}

.up-arrow-show{
    position: fixed;
    bottom: 32px;
    right: 40px;
    padding: 6px 15px;
    color: black;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #ffcece;
    background-color: #ffcece;
    border-radius: 50%;
    opacity: 1;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.up-arrow-show:hover{
    border: 1px solid #ffa8a8;
    background-color: #ffa8a8;
    cursor: none;
}

/* search bar */
input[type="search"]::-webkit-search-cancel-button {
    filter: grayscale(1);
}

.search-bar-input {
    width: 100%;
    border: none;
}

.search-bar-input:focus {
    outline: none;
}

/* chip */
.chip-light, .chip-dark {
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 14px;
}

.chip-light:hover, .chip-dark:hover {
    cursor: none;
}

.chip-light {
    border: 1px solid #bebebe;
    background-color: white;    
    color: #424549;
}

.chip-dark {
    border: 1px solid #424549;
    background-color: #212529;    
    color: #bebebe;
}

.chip-active {
    border: 1px solid #ffcece;
    background-color: #ffcece;
    color: black;
}

/* scroll menu */
.scroll-menu {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.left-scroll-arrow, .right-scroll-arrow {
    opacity: 0;
}

.left-scroll-arrow-show, .right-scroll-arrow-show {
    opacity: 1;
}

/* edit modal */
.modal-btn{
    background-color: transparent;
    border-radius: 25px;
    border: none;
    padding: 0px;
    height: 40px;
    width: 40px;
}

.modal-btn img{
    height: 22px;
    width: 22px;
}

.modal-btn:hover{
    background-color: rgba(128, 128, 128, 0.300);
    cursor: none;
}

/* alert */
.alert-background{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.alert-content{
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    border: 1px solid #bebebe;
    border-radius: 6px;
    height: min-content;
    margin-top: 28px;
    padding: 6px 16px;
}