*{
  cursor: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursor-dot{
  height: 5px;
  width: 5px;
  background-color: #ffa8a8;
}

.cursor-outline{
  height: 25px;
  width: 25px;
  border: 2px solid #ffa8a8;
}

.cursor-dot, .cursor-outline{
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1056;
  pointer-events: none;
}